<div class="totals" ng-controller="SidebarController">
  <h3>Totals</h3><br/>
  <p>all users: {{totalUsers}} </p>
  <p>all activeUsers: {{totalTennants}}</p>
  <p>all tennants: {{totalSpaces}} </p>
  <p>all completions: {{totalCompletions}} </p>
  <p>all paths: {{totalPaths}} </p>
  <p>all chapters: {{totalChapters}} </p><br/>



  <!-- <div ng-controller="MainCtrl"> -->
    <h3>Differences</h3><br/>
    <!-- <table>
      <tr>
        <th>
            start date
        </th>
        <th>
            end date
        </th>
        <th>
            difference
        </th>
      </tr>

    </table> -->


  <!-- </div> -->

</div>
