
<button ng-click="randomize()">randomize</button>

  <canvas id="line" class="chart chart-line" data="data1"
    labels="labels1" legend="true" series="series"
    click="onClick">
  </canvas>

  <canvas id="radar" class="chart chart-radar" data="data1"
    labels="labels1"></canvas>

  <canvas id="bar" class="chart chart-bar" data="data1"
  labels="labels1"></canvas>

  <canvas id="doughnut" class="chart chart-doughnut" data="data2"
  labels="labels2"></canvas>

  <canvas id="pie" class="chart chart-pie" data="data2"
    labels="labels2"></canvas>

  <canvas id="polar-area" class="chart chart-polar-area" data="data2"
    labels="labels2"></canvas>

  <canvas id="base" class="chart-base" chart-type="type" data="data2"
   labels="labels2" legend="true"></canvas>

