<div class="totals" ng-controller="SidebarController">
  <h3>Totals</h3><br/>
  <p>all users: {{totalUsers}} </p>
  <p>all activeUsers: {{totalTennants}}</p>
  <p>all tennants: {{totalSpaces}} </p>
  <p>all completions: {{totalCompletions}} </p>
  <p>all paths: {{totalPaths}} </p>
  <p>all chapters: {{totalChapters}} </p><br/>

  <h3>Differences</h3><br/>
  <style type="text/css">
        .tftable {width:100%;}
        .tftable td {font-size:12px;padding: 8px;}
        .tftable th {font-size:12px;padding: 8px;}
      </style>

      <table class="tftable" border="1">
        <tr><th>Data</th><th>Start date</th><th>End date</th><th>Difference</th></tr>
        <tr ng-repeat="data in dataDifferenceArray">
          <td>{{data.name}}</td>
          <td>{{data.startData}}</td>
          <td>{{data.endData}}</td>
          <td>{{data.differenceData}}</td>
        </tr>
      </table>
</div>

<div class="options">
  <h3>Selectors</h3><br/>
  <div class="selectors">
    <div class="interval">
      <table>
        <thead> select data: </thead>
        <tr ng-repeat="value in dataDisplayModel">
          <td>
            <input type="checkbox" ng-model="value.checked"> {{value.name}}</input>
          </td>
        </tr>
      </table>
    </div>

    <div class="interval">
      <table>
        <thead> select interval: </thead>
        <tr ng-repeat="type in interval">
          <td>
            <input type="checkbox" ng-model="type.checked" ng-click="switch($index, interval)"> per {{type.name}} </input>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <table>
        <thead> select type: </thead>
        <tr ng-repeat="type in chartstype">
          <td>
            <input type="checkbox" ng-model="type.checked" ng-click="switch($index, chartstype)"> {{type.name}} </input>
          </td>
        </tr>
      </table>
    </div>
  </div>
  from date:
  <input type="date" ng-model="fromDate"></input><br/>
  to date:
  <input type="date" ng-model="toDate"></input></br>
  <button class="button" ng-click="buildChart()">show me the data</button><br/>
</div>


<div class="container">
  <chart type="{{charttype}}"></chart>
</div>
