<div class="options">
  <h3>Selectors</h3><br/>
  <div class="selectors">
    <div class="interval">
      <table>
        <thead> select data: </thead>
        <tr ng-repeat="value in dataDisplayModel">
          <td>
            <input type="checkbox" ng-model="value.checked"> {{value.name}}</input>
          </td>
        </tr>
      </table>
    </div>

    <div class="interval">
      <table>
        <thead> select interval: </thead>
        <tr ng-repeat="type in interval">
          <td>
            <input type="checkbox" ng-model="type.checked" ng-click="switch($index, interval)"> per {{type.name}} </input>
          </td>
        </tr>
      </table><br/>

      <table>
        <thead> select type: </thead>
        <tr ng-repeat="type in chartstype">
          <td>
            <input type="checkbox" ng-model="type.checked" ng-click="switch($index, chartstype)"> {{type.name}} </input>
          </td>
        </tr>
      </table>
    </div>
  </div>
  from date:
  <input type="date" ng-model="fromDate"></input><br/>
  to date:
  <input type="date" ng-model="toDate"></input></br>
  <button class="button" ng-click="buildChart()">show me the data</button><br/>
</div>


<div class="container">
  <chart type="{{charttype}}"></chart>
</div>
